<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OctoCam</title>

    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='script.js') }}"
    ></script>
  </head>

  <body>
    <header class="container">
      {% block header %}
      <h1>OctoCam</h1>
      {% endblock %}
    </header>

    <div class="container">
      {% block content %}
      <!-- Form when submitted, makes server request to see if server is online and makes a stream based on the camera and dimensions. -->
      <form onsubmit="pullLinks(event)">
        <div id="inputContainer" class="flex">
          <!-- Pulls list of cameras connected to computer -->
          <button
            type="button"
            onclick="setDropDown()"
            style="min-width: 100px"
          >
            Pull Cameras
          </button>
          <!-- Select element holding all cameras connected to computer. The one selected will be used for the stream url -->
          <select class="form-control" name="userCameras"></select>
          <label for="width">Width</label>
          <input
            class="form-control"
            type="number"
            name="width"
            id="width"
            value="640"
          />
          <label for="height">Height</label>
          <input
            class="form-control"
            type="number"
            name="height"
            id="height"
            value="480"
          />
          <button>Pull Feed</button>
        </div>
      </form>
      <!-- Divs to hold url links and buttons to copy the stream/snapshot urls -->
      <div id="urlContainer" class="mt-2">
        <div id="streamUrlContainer">
          <label id="streamUrl" class="urlLabel">Stream Url</label>
          <button onclick="copyUrl('streamUrl')">Copy</button>
        </div>
        <div id="snapshotUrlContainer">
          <label id="snapshotUrl" class="urlLabel">Snapshot Url</label>
          <button onclick="copyUrl('snapshotUrl')">Copy</button>
        </div>
      </div>
      {% endblock %}
    </div>

    <footer class="container footer">{% block footer %} {% endblock %}</footer>
  </body>
</html>
